.webgl-content * {border: 0; margin: 0; padding: 0;}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('../images/progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('../images/progressEmpty.Light.png') no-repeat right / cover; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('../images/progressFull.Light.png') no-repeat left / cover; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('../images/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('../images/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('../images/progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('../images/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('../images/fullscreen.png'); width: 38px; float: right;}


/*
 * @license
 * Your First PWA Codelab (https://g.co/codelabs/pwa)
 * Copyright 2019 Google Inc. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License
 */

 * {
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Helvetica', 'Verdana', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  html {
    overflow: hidden;
  }
  
  body {
    align-content: stretch;
    align-items: stretch;
    background:rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  /**
   * Header
   Y parece ser que el css nos quiere capturar .... header css IMPORTANT
   */
  
  .header {
    align-content: right;
    align-items: stretch;
    background: #3f51b5;
    box-shadow:
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 2px 9px 1px rgba(0, 0, 0, 0.12),
      0 4px 2px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 9px;
    height: 56px;
    justify-content: flex-start;
    padding: 16px 16px 0 16px;
    position: fixed;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    width: 100%;
    will-change: transform;
    z-index: 1000;
  }
  
  .header h1 {
    flex: 1;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
  
  .header button {
    border: none;
    cursor: pointer;
    height: 24px;
    margin-right: 16px;
    opacity: 0.54;
    outline: none;
    overflow: hidden;
    text-indent: -30000px;
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    width: 24px;
  }
  
  
  .header #butInstall {
    background: url(/public/images/install.svg) center center no-repeat;
  }

  .header #ArjsDataLog {
    background:url(/public/images/add.svg) center center no-repeat;
  }

  .header #DataSendReady{
    background:url(/public/images/refresh.svg) center center no-repeat;
  }

  .header #TF{
    background:url(/public/images/tfjs-logo.png) center center no-repeat;
  }
  
  .header #VAR{
    background:url(/public/images/var.bmp) center center no-repeat;
  }


  .header #left{
    background:url(/public/images/left.bmp) center center no-repeat;
  }
  .header #right{
    background:url(/public/images/right.bmp) center center no-repeat;
  }
  .header #noise{
    background:url(/public/images/noise.bmp) center center no-repeat;
  }

  
  .header #train{
    background:url(/public/images/train.bmp) center center no-repeat;
  }

  
  .header #listen{
    background:url(/public/images/listen.png) center center no-repeat;
  }

  /*Por ahora no vemos diferencias de lo que hay
  #gameContainer{
    z-index: -9999;
  }*/
  .header .powered-by {
    color: white;
    font-size: 0.6em;
    text-decoration: none;
  }
  /**
   * Icons
   */
  
  .icon {
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /**
   * Main body
   */
  
  .main {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 60px;
    color: #999;
  }
  
  .main .fab {
    background-color: #3f51b5;
    border-radius: 50%;
    bottom: 1rem;
    height: 56px;
    padding: 12px;
    position: fixed;
    right: 1rem;
    width: 56px;
    z-index: 1000;
  }
  
  .main .fab .icon {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  
  /**
   * Add dialog
   */
  
  #addDialogContainer {
    background: rgba(0, 0, 0, 0.57);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    width: 100%;
    will-change: opacity;
  }
  
  #addDialogContainer.visible {
    opacity: 1;
    pointer-events: auto;
  }
  
  .dialog {
    background: #fff;
    border-radius: 2px;
    box-shadow:
      0 0 14px rgba(0, 0, 0, 0.24),
      0 14px 28px rgba(0, 0, 0, 0.48);
    left: 50%;
    min-width: 280px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) translateY(30px);
    transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  }
  
  .dialog > div {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .dialog-title {
    font-size: 1.25em;
    padding-top: 20px;
  }
  
  .dialog-body {
    padding-bottom: 24px;
    padding-top: 20px;
  }
  
  .dialog-body select {
    width: 100%;
  }
  
  .dialog-buttons {
    float: right;
    padding-bottom: 16px;
    padding-right: 17px !important;
  }
  
  .dialog .button {
    background: transparent;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
  }
  